.noteInput{
    width: 800px;
    min-width: 800px;
    font-size: 1.3em;
    padding-left: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: 'Droid Sans', sans-serif;
    background-color: rgba(34,49,63,0.8);
    color: #fff;
    transition: 0.2s ease-out;
}
