@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
body{
  background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)) ,url('./img/1.jpg')

}
.head{
  width: 100%;
  height: 70px;
  margin-bottom: 5px;
  background-color: rgba(0,0,0,0.5);
  font-family: 'Gamja Flower', sans-serif;
  color: white;
  font-size: 50px;
  text-align: center; 
  box-shadow: 0,14px,14px,0 rgba(0, 0, 0, 0.2);
  position: relative;

}
.notesFooter {
  display: flex;
  flex: 1 1 5%;
  background-color: rgba(0,0,0,0.5);
}